:root {
    --dark: #004c46;
    --medium-dark: #128177;
    --medium: #52948B;
    --light: #b8c2c8;
    --light-text: #f7f7f7
}


body {
    margin: 0;
    font-size: 100%;
    font-family: sans-serif;
}

#top-header {
    background-color: var(--dark);
    height: 8vh;
    display: flex;
    align-items: center;
}

#top-header h1 {
    background-color: var(--medium);
    color: white;
    font-size: 250%;
    font-weight: normal;
    position: absolute;
    padding-left: 3%;
    padding-right: 1%;
    left: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#img-container {
    height: 15vh;
    width: 100vw;
    background-image: url('../images/wood-background.jpeg');
    position: relative;
}

#img-container h2 {
    color: var(--light-text);
    letter-spacing: 2px;
    font-weight: bolder;
}

h2 {
    color: white;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    bottom: 10%;
    right: 5%;
}

h4 {
    text-align: end;
    color: white;
    font-size: 250%;
    font-weight: 400;
}

h5 {
    color:white;
    text-align: center;
}

section {
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
}

footer {
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
    align-items: center;
}

main {
    background-color: var(--medium-dark);
}

#clip {
    filter:grayscale();
}

#nav-items {
    position: absolute;
    padding-right: 2%;
    right: 0;
}

#nav-items a {
    font-size: 125%;
    color: #ebeff5;  
    padding-right: 30px;
    text-decoration: none;
}

#nav-items a:hover {
    color: var(--light);
}

#top {
    background-image: url("../images/coding.jpeg");
    margin: 0% 4% 2% 2%;
    height: 600px;
    position: relative;
    border-radius: 5px;
    border: 3px solid var(--dark);
}

#bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 4% 0 2%;
}

.container-1 {
    position: relative;
    width: 30%;
}

.container-2 {
    width: 70%;
}

.container-2 p {
    color: var(--light-text);
    padding-left: 5%;
    padding-right: 10%;
}

.container-3 {
    width: 45%;
    height: 200px;
    margin: 2%;
    position: relative;
    border-radius: 5px;
    border: 3px solid var(--dark);
}

#iteration-zero {
    background-image: url("../images/libgdx.png");
    background-position-y: 50%;
}

#spreadsheet {
    background-image: url("../images/spreadsheet.webp");
    background-position: center;
}

#business-review {
    background-image: url("../images/postgresql.png");
}

#deep-sea {
    background-image: url("../images/c++.jpeg");
}

.container-3:hover {
    -webkit-filter: grayscale(100%);
    border-color: black;
}

#top:hover {
    -webkit-filter: grayscale(50%);
    border-color: black;
}

.inner-box {
    z-index: 1;
    position: absolute;
    background-color: var(--dark);
    bottom: 20px;
    left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.inner-box h5 {
    margin-left: 20px;
    margin-right: 20px;
}

.line {
    width: 5px;
    height: auto;
    background-color: var(--dark);
    margin-left: 1%;
    margin-right: 2%;
}

footer .line {
    height: 100px;
}

#contact-me-info {
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
}

#contact-me-info a {
    text-decoration: none;
    target: "_blank";
}

#contact-me-info a {
    color: var(--light-text);
    font-size: larger;
    font-weight: lighter;
    letter-spacing: 1px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--light);
    margin-right: 5%;
}

@media only screen and (max-width: 900px) {
    #top-header {
      flex-direction: column-reverse;
      align-items: center;
    }

    .container-3 {
        width: 80%;
    }

    #contact-me-info {
        flex-direction: column;
    }
  }