:root {
    --dark: #004c46;
    --medium-dark: #128177;
    --medium: #52948B;
    --light: #b8c2c8;
}


body {
    margin: 0;
    font-size: 100%;
    font-family: sans-serif;
}

#top-header {
    background-color: var(--dark);
    height: 8vh;
    display: flex;
    align-items: center;
}

#top-header h1 {
    background-color: var(--medium);
    color: white;
    font-size: 250%;
    font-weight: normal;
    position: absolute;
    padding-left: 3%;
    padding-right: 1%;
    left: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#img-container {
    background-color: blue;
    height: 15vh;
    width: 100vw;
    background-image: url('../images/wood-background.jpeg');
    position: relative;
}

h2 {
    color: white;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    bottom: 10%;
    right: 5%;
}

h4 {
    text-align: end;
    color: white;
    font-size: 250%;
    font-weight: lighter;
}

h5 {
    color:white;
}

section {
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
}

footer {
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
    align-items: center;
}

main {
    background-color: var(--medium-dark);
}

#clip {
    filter:grayscale();
}

#nav-items {
    position: absolute;
    padding-right: 2%;
    right: 0;
}

#nav-items a {
    font-size: 125%;
    color: #ebeff5;  
    padding-right: 30px;
}

#nav-items a:hover {
    color: var(--light);
}

#top {
    background-image: url("../images/coding.jpeg");
    margin: 0% 4% 2% 2%;
    height: 600px;
    position: relative;
    border-radius: 5px;
    border: 3px solid var(--dark);
}

#bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 4% 0 2%;
}

.container-1 {
    position: relative;
    width: 30%;
}

.container-2 {
    width: 70%;
}

.container-3 {
    width: 45%;
    height: 200px;
    margin: 2%;
    background-image: url("../images/coding.jpeg");
    position: relative;
    border-radius: 5px;
    border: 3px solid var(--dark);
}

.container-3 img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.inner-box {
    z-index: 1;
    position: absolute;
    background-color: var(--dark);
    bottom: 20px;
    left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.inner-box h5 {
    margin-left: 20px;
    margin-right: 20px;
}

.line {
    width: 5px;
    height: auto;
    background-color: var(--dark);
    margin-left: 1%;
    margin-right: 2%;
}

footer .line {
    height: 100px;
}

#contact-me-info {
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
}

#contact-me-info a {
    color: var(--light);
    font-size: larger;
    font-weight: lighter;
    letter-spacing: 1px;
    border-bottom: 2px solid var(--light);
}

