body {
    margin: 0;
    font-size: 100%;
    font-family: sans-serif;
}

#top-header {
    background-color: #065464;
    height: 8vh;
    display: flex;
    align-items: center;
}

#top-header h1 {
    background-color: #34acbc;
    color: #212121;
    font-size: 250%;
    font-weight: normal;
    position: absolute;
    padding-left: 3%;
    padding-right: 1%;
    left: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#img-container {
    background-color: blue;
    height: 15vh;
    width: 100vw;
    background-image: url('../images/wood-background.jpeg');
    position: relative;
}

h2 {
    color: white;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    bottom: 10%;
    right: 5%;
}

h4 {
    position: absolute;
    right: 5%;
    text-align: end;
}

section {
    display: flex;
}

#clip {
    filter:grayscale();
}

#nav-items {
    position: absolute;
    padding-right: 2%;
    right: 0;
}

#nav-items a {
    font-size: 125%;
    color: #ebeff5;  
    padding-right: 30px;
}

.container-1 {
    position: relative;
    width: 20%;
}

.container-2 {
    width: 80%;
}

